<h1>Burger Logger!</h1>

<h2>Eat a burger</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    {{burger_name}}
    <button class= "devour" name = {{id}} devoured-status="{{devoured}}">
      {{#if devoured}}Eat the burger!{{else}}MAke me another!{{/if}}</button>

   {{/unless}}
  {{/each}}
</ul>
<h2>Already Eaten</h2>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}}
    <button class= "devour" name = {{id}} devoured-status="{{devoured}}">
      {{#if devoured}}Eat the burger!{{else}}MAke me another!{{/if}}</button>

   {{/if}}
  {{/each}}
</ul>

<div>
  <p>Add a Burger!</p>
<input id= "burgerinput"></input>
<button id= "save">Save</button>
</div>
<script>
  $("#save").click(function(event){
event.preventDefault();
console.log("Clicked!")
  
$("#burgerinput").val()
console.log($("#burgerinput").val())

var burgerobject= {
burger_name: $("#burgerinput").val(),
}
 $.ajax({

        'url' : "/api/burgers",
        'type' : "POST",
        'data' : burgerobject

  }).then(function(data){
console.log("this is what we got back", data)
location.reload();
  })
  });

  $(document).on("click",".devour", function (event){
    var id = $(this).data("name");
    var devouredStatus = $(this).data("devoured-status");
    
    var newDevouredStatus = {
      devoured: devouredStatus
    };

$.ajax({
        'url' : "/api/burgers/" + id,
        'type' : "PUT",
        data:newDevouredStatus
  }).then(function(){
    console.log("changed devoured to", devouredStatus);
    location.reload();
  })
  });


</script>
